Flask==0.10.1
Jinja2==2.8
Logentries==0.15
MarkupSafe==0.23
Pillow==2.5.1
PyYAML==3.11
Werkzeug==0.11.2
amqp==1.4.7
anyjson==0.3.3
argparse==1.2.1
astroid==1.3.8
beautifulsoup4==4.3.2
billiard==3.3.0.21
celery==3.1.19
certifi==2015.11.20
cssselect==0.9.1
distribute==0.6.49
feedfinder2==0.0.1
feedparser==5.1.3
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.3.0
itsdangerous==0.24
jieba==0.35
kombu==3.0.29
logilab-common==1.1.0
lxml==3.3.5
newrelic==2.58.1.44
newspaper==0.0.9.8
nltk==2.0.5
pep8==1.6.2
pylint==1.4.4
python-dateutil==2.4.0
pytz==2015.7
redis==2.10.5
requests==2.3.0
six==1.7.3
stevedore==0.14.1
tldextract==1.5.1
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
