<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>NS - Automatic multi-source news summarizer</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <link rel="stylesheet" href="static/style.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <script src="https://www.google.com/jsapi"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/icons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/icons/manifest.json">
  <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="NS">
  <meta name="application-name" content="NS">
  <meta name="msapplication-TileColor" content="#fffbd2">
  <meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <a href="https://github.com/xiamx/ns"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <div class="container">
    <h1 class="text-center">ns <sub>a news summarizer</sub></h1>
    <input type="text" class="form-control input-lg" id="topic" placeholder="Enter keywords on a recent event to begin, try to be narrow and specific :)">
    <div id="branding" style="float: left;"></div>
    <br />
    <div id="summary" class="summary">

    </div>
    <h2>FAQ: </h2>
    <h3>What is this?</h3>
    <p>An automatic news summary generator</p>
    <h3>How does it work?</h3>
    <p>Using Google news api, we get a list of urls of multiple news sources. We then extract the article text from the webpages. SumBasic (Nenkova and Vanderwende 2005) algorithm is used to generate a summary.</p>
    <h3>The summary does not make sense, why?</h3>
    <p>Try to be narrow and specific with your topic, it should give better results</p>
    <h3>There are bugs!</h3>
    <p>I had to implement SubBasic for my NLP course assignment, I then built this just for fun. Please feel free to submit pull requests!</p>
    <br/>
    <p>Mengxuan Xia (xiamx) November 2015</p>
    <p><a href="https://github.com/xiamx">My github</a></p>
  </div>
  <script src="static/main.js"></script>
</body>

</html>